<!DOCTYPE html>
<html>
  <head>
    <title>Tracked Stocks</title>
  </head>
  <body>
    <h1>Tracked Stocks</h1>

    <!-- Form to track a new stock -->
    <form method="post">
      <label for="symbol">Stock Symbol:</label>
      <input type="text" id="symbol" name="symbol" required />
      <br />
      <label for="price">Stock Price:</label>
      <input type="text" id="price" name="price" required />
      <br />
      <input type="submit" value="Track" />
    </form>

    <!-- Display tracked stocks -->
    <h2>Currently Tracked Stocks:</h2>
    <ul>
      {% for stock in tracked_stocks %}
      <h3>
        <strong>Symbol:</strong> {{ stock.symbol }},
        <strong>Price:</strong> {{stock.price }}
      </h3>
      {% if tracked_stocks %}
      <h2>Average and Extremes:</h2>
      <table border="1">
        <tr>
          <th>Period</th>
          <th>Avg High % Change</th>
          <th>Avg Low % Change</th>
          <th>Max High % Change</th>
          <th>Min High % Change</th>
          <th>Max Low % Change</th>
          <th>Min Low % Change</th>
        </tr>
        {% for period in ['5d', '10d', '30d', '60d', '90d'] %}
        <tr>
          <td>{{ period }}</td>
          <td>{{ stock.data[period]['Avg High % Change'] }}</td>
          <td>{{ stock.data[period]['Avg Low % Change'] }}</td>
          <td>{{ stock.data[period]['Max High % Change'] }}</td>
          <td>{{ stock.data[period]['Min High % Change'] }}</td>
          <td>{{ stock.data[period]['Max Low % Change'] }}</td>
          <td>{{ stock.data[period]['Min Low % Change'] }}</td>
        </tr>
        {% endfor %}
      </table>
      <button onclick="showStockData()">Show Stock Data</button>

      <script>
        function showStockData() {
          var stockData = document.getElementById("stockData");
          if (stockData.style.display === "none") {
            stockData.style.display = "block";
          } else {
            stockData.style.display = "none";
          }
        }
      </script>

      <div id="stockData" style="display: none">
        {% if stock.data %} {% for period, data in stock.data.items() %}
        <h2>Stock Data for {{ period }}</h2>
        <table border="1">
          <tr>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>High % Change</th>
            <th>Low % Change</th>
            <th>Low to Close %</th>
            <th>High to Close %</th>
          </tr>
          {% for i in range(data['Date']|length) %}
          <tr>
            <td>{{ data['Date'][i] }}</td>
            <td>{{ data['Open'][i] }}</td>
            <td>{{ data['High'][i] }}</td>
            <td>{{ data['Low'][i] }}</td>
            <td>{{ data['Close'][i] }}</td>
            <td>{{ data['High % Change'][i] }}</td>
            <td>{{ data['Low % Change'][i] }}</td>
            <td>{{ data['Low to Close %'][i] }}</td>
            <td>{{ data['High to Close %'][i] }}</td>
          </tr>
          {% endfor %}
        </table>
        {% endfor %} {% endif %}
      </div>
      {% endif %} {% endfor %}
    </ul>
  </body>
</html>
